doctype 5
html(lang="en")
  head
    title
      | Grosso Gig
    script(type='text/javascript') 
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37273212-1']);
      _gaq.push(['_trackPageview']);
       
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=New+Rocker',type='text/css')
    link(rel='stylesheet',href='/a/stylesheets/style.css', media='screen')
    link(rel='stylesheet',href='/a/stylesheets/bootstrap.min.css', media='screen')
    link(rel='icon',type='image/x-icon', href='/a/images/favicon.ico')
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/a/javascripts/app.js')
  body
    block content