doctype 5
html(lang="en")
  head
    title
      GrossoGig (dev)
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=New+Rocker',type='text/css')
    link(rel='stylesheet',href='/a/stylesheets/style.css', media='screen')
    link(rel='stylesheet',href='/a/stylesheets/bootstrap.min.css', media='screen')
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/a/javascripts/app.js')
  body
    block content